<!DOCTYPE HTML>
<html>
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="stylesheets/style.css" rel="stylesheet">
        <script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <div class='container'>
        <img class='img-fluid' src="images/client-1.png" alt="client">
    </div>
</body>
<footer>
    <div class='container'>
        <div class='footer-text'>
            <h3>SAY HELLO</h3>
            <div class='footer-info'>
                <p style='font-size:34px;'>Don't be shy</p>
                <p style='font-size:34px;'>Have a new project or just say hi?</p>
            </div>
        </div>
        <div class='footer-icons'>
            <a href="mailto:inana.grbic@gmail.com"><img class='mail-img' src="images/mail_icon.svg" alt="mail">inana.grbic@gmail.com</a>
            <a href="https;//linkedin.com/in/ivana-grbic-b8773b183"><img class='mail-img' src="images/linkedin_icon.svg" alt="linkedin">linkedin.com/in/ivana-grbic-b8773b183</a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>
</html>
