<!DOCTYPE HTML>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="stylesheets/style.css" rel="stylesheet">
        <script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Ivana Grbic</title>
    </head>
    <body>
        <!-- header section -->
        <header class='main-img'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='col-sm-12 header-title justify-content-center align-items-center'>
                        <img src="images/logo_1.svg" alt="logo">
                    </div>
                    <div class='col-sm-12 header-desc justify-content-center align-items-center'>
                        <h4>UI/UX Designer</h4>
                    </div>
                    <div class='col-sm-12 header-text justify-content-center align-items-center'>
                        <h5>DESIGNER. THINKER. MAKER.</h5>
                    </div>
                    <div class='col-sm-12 header-text justify-content-center align-items-center'>
                        <p>I’m a graphic and web designer who loves creating clean and impressive interfaces</p>
                    </div>
                </div>
            </div>
        </header>
        <!-- header section end-->

        <!-- body section start-->
        <div class='main-container'>
            <!-- section 1 start-->
            <div class='section-1'>
                <div class="container">
                    <h3><span>MY PROJECTS</span></h3>
                    <div class='portfolio-container'>
                        <a href="/client/1">
                            <div class='portfolio-box box-1'>
                                <div class='overlay-box'>
                                    <p>TRAVEL AGENCY WEBSITE CONCEPT</p>
                                </div>
                            </div>
                        </a>
                        <a href="/client/2">
                        <div class='portfolio-box box-2'>
                            <div class='overlay-box'>
                                <p>VIDEO MARKETING CAMPAING</p>
                            </div>
                        </div>
                        </a>
                        <a href="/client/3">
                        <div class='portfolio-box box-3'>
                            <div class='overlay-box'>
                                <p>TV SHOW WEBSITE DESIGN</p>
                            </div>
                        </div>
                        </a>
                        <a href="/client/4">
                        <div class='portfolio-box box-4'>
                            <div class='overlay-box'>
                                <p>BANKING SERVICES LANDING PAGE</p>
                            </div>
                        </div>
                        </a>
                        <a href="/client/5">
                        <div class='portfolio-box box-5'>
                            <div class='overlay-box'>
                                <p>FASHION & BUSINESS BRAND GUIDELINES</p>
                            </div>
                        </div>
                        </a>
                        <a href="/client/6">
                        <div class='portfolio-box box-6'>
                            <div class='overlay-box'>
                                <p>LOGOPHOLIOT</p>
                            </div>
                        </div>
                        </a>
                </div>
                
                </div>
            </div>
            <!-- section 1 end-->
            <!-- section 2 start-->
            <div class='section-2'>
                <div class="container">
                    <h3>ABOUT</h3>
                    <div class='row'>
                        <div class='col-sm-12 portfolio-info'>
                            <span><p>WHAT I DO: <span class='small-text'>I love designing contemporary, clean and user-centred interfaces for websites and mobile.</span></p></span>
                        </div>
                        <div class='col-sm-12 portfolio-info'>
                            <span><p>EDUCATION: <span class='small-text'>I have stuided Graphic Design on Faculty of Fine Arts-Skopje (2004-2008).</span></p></span>
                        </div>
                        <div class='col-sm-12 portfolio-info'>
                            <span><p>SKILLS: <span class='small-text'>Illustrator, Photoshop, Indesign, Adobe XD, UI/UX Design are my best friends.</span></p></span>
                        </div>
                    </div>
                </div>    
            </div>
            <!-- section 2 end-->
        </div>
    </body>
    <footer>
        <div class='container'>
            <div class='footer-text'>
                <h3>SAY HELLO</h3>
                <div class='footer-info'>
                    <p style='font-size:34px;'>Don't be shy</p>
                    <p style='font-size:34px;'>Have a new project or just say hi?</p>
                </div>
            </div>
        <div class='footer-icons'>
                <a href="mailto:inana.grbic@gmail.com"><img class='mail-img' src="images/mail_icon.svg" alt="mail">inana.grbic@gmail.com</a>
                <a href="https;//linkedin.com/in/ivana-grbic-b8773b183"><img class='mail-img' src="images/linkedin_icon.svg" alt="linkedin">linkedin.com/in/ivana-grbic-b8773b183</a>
        </div>
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </footer>
</html>